.rating-list img {
  max-width: 100px;
  border-radius: 50%;
}

.rating-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.rating-list p {
  font-size: 1.5rem;
  margin-left: 20px;
}