
.rating-list img {
  border: 1.5px solid black;
  max-width: 100px;
  border-radius: 50%;
}

.rating-list {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
  margin-bottom: 30px;
  position: relative; left:20vw; top: auto;
  color:rgba(130, 133, 2, 0.377);
  font-size: 30px;
	-webkit-text-stroke: 1px black; 
}

.rating-list p {
  font-size: 1.5rem;
  margin-left: 20px;
  position: relative; 
  color:rgba(130, 133, 2, 0.377);
  font-size: 20px;
	-webkit-text-stroke: 1px black; 
}

.one-beer-image {
  border-radius: 5px;
  border: 1px solid;
  max-width: 40vw;
  max-height: 60vh;
}

.single-beer-image {
  align-items: center;
  margin-top: 10px;
  position: absolute; left:18vw; top: auto;
}

.single-beer-title {
  color:rgba(130, 133, 2, 0.377);
  font-size: 30px;
	-webkit-text-stroke: 1px black; 
}
