.card-container {
  position: relative;
}

.beer-card {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 350px;
  max-height: fit-content;
  margin: 30px;
}

.beer-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.user-rating {
  margin-left: 10px;
}

.beer-card-header:hover {
  cursor: pointer;
}
.card-image {
  max-width: 20vw;
  max-height: 25vh;
  object-fit: cover;
  
}

