
html {
    background-image: url("https://images.unsplash.com/photo-1521170813716-0b3f42fcfb65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGJlYWNofGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.avatar{
  margin: auto;
}

.home-box{

}